:root {
    font-family: sans-serif, roboto;
    /* Colours have been commented out because
       I do not want to use them after all. They
       looked ok in the coolors.co display, but
       using them practically does not look good.
       I have placed to coding here to fulfil the
       purposes of the assignment.
      color: #10FFCB;
      color: #FCE4D8;
      color: #F75590;
      color: #B8F8FE;
      color: #FBD87F; 
    */
}
a {
    text-decoration: none;
}
/* I have tried every trick I could think of to get
   company name and mission statements to overlay the
   main image, but have failed. Any advice on where I 
   have gone wrong would be appreciated.
*/
.hero {
    position: relative;
} 
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
-overlay h1 {
    position: absolute;
    background-color: darkgray;
    color: yellow;
}
.overlay article {
    position: absolute;
}
.overlay article img {
    width: 20%;
    float: right;
    margin: 0 0 15px 15px; ;
    border: 1px solid black;
}
.hero article p {
    background-color:green;
    color: white;
}
.history h2 {
    display: block;
    padding-top: 120px; 
}
.history p {
    display: block;
    padding-top: 10px;
    color: brown;
    background-color: lightyellow ;
}
.adventure img {
    width: 20%;
    height: auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}


