#content {
  max-width: 1600px; 
  margin: 0 auto;
}

body {
    font-family: 'Times New Roman', georgia, serif;font-size: 22px;
    margin: 0;
    padding: 0;
}

nav, a {
    text-align: center;
    text-decoration: none;
}

hi {
    text-align: center;
}
 
#hero-msg {
    text-align: center;
}

h2 {
    margin: 0;
}

h4 {
    text-align: center;
    background-color: rgb(250, 249, 249);
    color: rgb(238, 14, 14);
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.card-img {
    border: 10px solid steelblue;
}

#background {
    height: 725px;
    background-color: blueviolet;
    color: white;
}
nav a {
    padding: 35px;
}  

nav a:hover {
    background-color: #3bb221;
    color: white;
}

.book {
    font-family: "Arial Black" Tahoma sans-serif;
    background-color: white;
    color: red;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px; 
    border-radius: 5px;
}

.book:hover {

    background-color: rgb(17, 73, 118);
    color: white;
}

.home-title {
    font-family: "Arial Black" Tahoma sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.msg {

    background-color: orange;
    color: darkgreen;
    line-height: 1.5em;
}

.msg h2 {
    color: darkred;
}

.msg a {
    font-family: "Arial Black" Tahoma sans-serif;
    font-size: .8em;
}

.msg p {
    padding-bottom: 15px;
} 

.logo {
    width: 80px;
    border-radius: 50%;
    border: 5px solid steelblue;
    box-sizing: border-box;
}

#logo-link {
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer {
    padding: 25px 50px;
    padding-top: 15px;  
}

footer a {
    background-color: pink;
    color: blue;
} 

footer a:hover {
    background-color: darkred;
    color: white; 
}

.social img  {
    padding-top: 15px;
}

.join {
    background-color: yellow;
    color: black;
    text-decoration: none;
    font-family: "Arial Black" Tahoma sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover {
    background-color: black;
    color: white;
}

footer a {
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

